*{
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    min-width: 320px;
    color: #000;

    -webkit-text-size-adjust: 100%;
}

.scroll-hidden{
    overflow: hidden;
}

.width{
    max-width: 1100px;
    margin: 0 auto;
    /*border-left: 1px solid red;*/
    /*border-right: 1px solid red;*/
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #000;
}

.text-red{
    color: #f23e36;
}

.text-blue{
    color: #32a1c8;
}

.text-uppercase{
    text-transform: uppercase;
}

input{
    font-family: 'Open Sans', sans-serif;
}

input[type='submit']{
    -webkit-appearance: none;
}

article{
    padding: 40px 0;
}

article h1{
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 20px;
    text-align: center;
}

article p{
    margin-bottom: 20px;
}
